body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #333;
    color: white;
}

.navbar .logo img {
    width: 100px;
    height: auto;
}

.nav-items {
    display: flex;
    align-items: center;
}

.nav-items a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
    padding: 5px 10px;
    border-radius: 3px;
}

.nav-items a:hover {
    background: rgba(255, 255, 255, 0.2);
}

.middle{
    display: flex;
    flex-direction: column;
}
.workflow-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.leftside, .properties-panel {
    width: 20%;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
ul{
   list-style-type:none;
}

.lowerleft{
    margin:0% ;
    padding: 1%;
    border: 1px solid #ddd;
    position: absolute;
    bottom: 20%;
    width: 17%;
}
.leftside input[type="text"], button{
    margin: auto;
    width: 100%;
    padding-block: 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}

.leftside button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.leftside button:hover {
    background-color: #2980b9;
}

.workflow-main {
    width: 55%;
    padding: 0 20px;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    background: #fff;
}

button {
    margin: 1%;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    transition: 0.3s;
    border-radius: 20px;
}

.toolbar button:hover {
    background-color: #2980b9;
}

#myholder {
    margin-top: 20px;
    background-color: #e6e6e6;
    border: 1px solid #ccc;
    height: 600px;
    position: relative;
    overflow: auto;
}

.properties-panel input[type="text"], .properties-panel textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.canvas-buttons {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 10px;
}


#workflow-list li {
    list-style-type: none;
    padding: 5px 10px;
    border-radius: 3px;
}

#workflow-list li:hover {
    background: rgba(0, 123, 255, 0.2);
    color: #007bff;
    cursor: pointer;
}
